{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
      <link rel="shortcut icon" href="{% static 'transport/images/main.ico' %}" type="image/x-icon"/>
    <title>{{title}}</title>
    <link href="{% static 'transport/css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
        {% include 'transport/menu.html' %}

    <!-- Контент (grid-элемент + grid-контейнер)-->
    <main class="main">
        {% include 'transport/sidebar.html' %}

        <section class="content">
            <section class="content__transports transports">
                <h2>{{title}}</h2>
                <div class="transports__items">
                    {% block content %}
                    {% endblock %}
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__copy">
            Copy, 2022
        </div>
        <div class="footer__text">Lorem ipsum, dolor sit amet</div>
    </footer>
 </div>
</body>
</html>